# Database
DATABASE_URL="postgresql://reservely:reservely@localhost:5432/reservely?schema=public"

# Application
NODE_ENV="development"
PORT=3000

# Next.js
NEXT_PUBLIC_APP_URL="http://localhost:3000"
